[submodule "pypolyagamma"]
	path = pypolyagamma
	url = https://github.com/slinderman/pypolyagamma.git
[submodule "factorial-network-models"]
	path = factorial-network-models
	url = git@github.com:blei-lab/factorial-network-models.git
